.footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.bottomnav {
    display: flex;
    gap: 1rem;
}

.bottomnav a svg{
    fill: var(--accent-color);
    transition: transform 0.3s ease;
}

.bottomnav a svg:hover {
    transform: scale(1.2);
}